body{

}

a{
  color#ffffff;
  text-declaration:none;
  
}

canvas{
  background:#000000;
  border:1px #cccccc solid;

.container{
  margin:30px auto 0 auto;
  width:600px;
  overflow:auto;
  position:relative;
  
}
  
 #stats{
  width:590px;
   background:#333333;
   padding:5px;
   font-size:20px;
   font-weight:bold;
   color:#ffffff;
   margin-bottom:5px;
   overflow:auto;

